In [1]:
%load_ext autoreload
%autoreload 2
# %load_ext autotime

## This is the second phase of corrections on instruct_qa

In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import os

In [5]:
PATH_DATASET = os.path.join(os.getcwd(), 'instruct_qa_natural_questions_corrected2.1.csv')
PATH_LOGS = os.path.join(os.getcwd(), 'ac_llama3_70b_16bit_regex2_0_clean_multiple.csv')

In [ ]:
df_check = pd.read_csv(PATH_DATASET)

In [ ]:
index = 18

id_ = df_check.loc[index]['id']
model_name = df_check.loc[index]['model_name']

print(f"Id: {id_}")

print(f"Model name: {model_name}")

print(f"Question: {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['question']}")

print(f"Answer : {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['answer']}")

print(f"Ground truth : {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['ground_truth']}")

print(f"Human verdict: {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['human_verdict']}")

print("\n"*5)

print(df_check.loc[index]['Reasoning'])

In [9]:
keywords = ["role", "cast", "actor", "movie", "character", "film", "start"]

PATH_DATASET = os.path.join(os.getcwd(), 'instruct_qa_natural_questions_corrected.csv')

df = pd.read_csv(PATH_DATASET)
df.head()

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
0,28,alpaca-7b,natural_questions,who plays joker in batman the dark knight,Heath Ledger,Ledger,Please answer the following question given the...,correct
1,104,alpaca-7b,natural_questions,who was the great wall of china built to defen...,The Great Wall of China was built to defend ag...,nomads from Inner Asia/nomads from Inner Asia.,Please answer the following question given the...,correct
2,119,alpaca-7b,natural_questions,hazels boyfriend in the fault in our stars,Hazel's boyfriend in The Fault in Our Stars is...,Augustus Waters,Please answer the following question given the...,correct
3,137,alpaca-7b,natural_questions,who is opening for little mix glory days tour,"The Vamps, Conor Maynard, Bronnie, Alistair Gr...",Sheppard/Zoe Badwi/Louisa Johnson/Bronnie/The ...,Please answer the following question given the...,incorrect
4,156,alpaca-7b,natural_questions,when was the minimum wage established in the u...,1938.,1938/1933/1912,Please answer the following question given the...,correct

In [10]:
def filter_questions(df, keywords): 
    
    pattern = '|'.join(keywords) 
    
    filtered_df = df[df['question'].str.contains(pattern, case=False, na=False)]
    
    return filtered_df

In [11]:
filtered_questions = filter_questions(df, keywords)

In [12]:
filtered_questions.head()

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
15,468,alpaca-7b,natural_questions,who are the cast members of ncis new orleans,"The main cast of ""NCIS: New Orleans"" consists ...","Zoe McLellan/Lucas Black/Daryl ""Chill"" Mitchel...",Please answer the following question given the...,incorrect
20,701,alpaca-7b,natural_questions,where is the tv show the curse of oak island f...,1. The Curse of Oak Island is filmed in variou...,Oak Island,Please answer the following question given the...,correct
21,725,alpaca-7b,natural_questions,number of films in lord of the rings,3,three,Please answer the following question given the...,correct
22,732,alpaca-7b,natural_questions,where did they film season 8 of the walking dead,80% of season 8 of The Walking Dead was filmed...,Georgia,Please answer the following question given the...,correct
23,738,alpaca-7b,natural_questions,the cast of a good day to die hard,1. Bruce Willis as John McClane 2. Jai Courtne...,Mary Elizabeth Winstead/Sebastian Koch/Radivoj...,Please answer the following question given the...,correct

In [13]:
df_check = df[df['model_name'] == 'alpaca-7b']
df_check = df_check.reset_index(drop=True) 
df_check.head()

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
0,28,alpaca-7b,natural_questions,who plays joker in batman the dark knight,Heath Ledger,Ledger,Please answer the following question given the...,correct
1,104,alpaca-7b,natural_questions,who was the great wall of china built to defen...,The Great Wall of China was built to defend ag...,nomads from Inner Asia/nomads from Inner Asia.,Please answer the following question given the...,correct
2,119,alpaca-7b,natural_questions,hazels boyfriend in the fault in our stars,Hazel's boyfriend in The Fault in Our Stars is...,Augustus Waters,Please answer the following question given the...,correct
3,137,alpaca-7b,natural_questions,who is opening for little mix glory days tour,"The Vamps, Conor Maynard, Bronnie, Alistair Gr...",Sheppard/Zoe Badwi/Louisa Johnson/Bronnie/The ...,Please answer the following question given the...,incorrect
4,156,alpaca-7b,natural_questions,when was the minimum wage established in the u...,1938.,1938/1933/1912,Please answer the following question given the...,correct

In [ ]:
index = 99

id_ = df_check.loc[index]['id']
model_name = df_check.loc[index]['model_name']

print(f"Id: {id_}")

print(f"Model name: {model_name}")

print(f"Question: {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['question']}")

print(f"Answer : {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['answer']}")

print(f"Ground truth : {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['ground_truth']}")

print(f"Human verdict: {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['human_verdict']}")

print("\n"*5)

In [15]:
possible_check = [640,2789, 3217]
strange = [441, 1675, 3121]
certain_enumerations = [137, 468, 738, 1652, 2066, 3271, 3280, 931, 200]

In [16]:
id_ = 3217

df_check = df[df['id'] == id_] 
df_check = df_check.reset_index(drop=True) 
df_check.head()

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
0,3217,alpaca-7b,natural_questions,who played the girl in silence of the lambs,"1991, for her portrayal of Starling she also r...",Masha Skorobogatov/Jodie Foster,Please answer the following question given the...,incorrect
1,3217,flan-t5-xxl,natural_questions,who played the girl in silence of the lambs,Jodie Foster,Masha Skorobogatov/Jodie Foster,Please answer the following question given the...,incorrect
2,3217,gpt-3.5-turbo,natural_questions,who played the girl in silence of the lambs,Jodie Foster played the girl (Clarice Starling...,Masha Skorobogatov/Jodie Foster,Please answer the following question given the...,incorrect
3,3217,llama-2-7b-chat,natural_questions,who played the girl in silence of the lambs,Jodie Foster,Masha Skorobogatov/Jodie Foster,[INST] <<SYS>>\nPlease answer the following qu...,correct

In [ ]:
index = 0

id_ = df_check.loc[index]['id']
model_name = df_check.loc[index]['model_name']

print(f"Id: {id_}")

print(f"Model name: {model_name}")

print(f"Question: {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['question']}")

print(f"Answer : {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['answer']}")

print(f"Ground truth : {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['ground_truth']}")

print(f"Human verdict: {df[(df['id'] == id_ ) & (df['model_name'] == model_name)].iloc[0]['human_verdict']}")

print("\n"*5)

In [18]:
df_copy = df.copy()

In [19]:
def change_enumeration(value): 
    
    words = value.strip().split('/') 
    
    my_string = words[0] 
    
    for word in words[1:-1]: 
        
        my_string = my_string +", "+ word
        
    my_string = my_string +" and " + words[-1] 
    
    return my_string

In [20]:
df_copy.loc[df_copy['id'].isin(certain_enumerations), 'ground_truth'] = df_copy.loc[df_copy['id'].isin(certain_enumerations), 'ground_truth'].apply(change_enumeration)

In [21]:
df_copy.head()

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
0,28,alpaca-7b,natural_questions,who plays joker in batman the dark knight,Heath Ledger,Ledger,Please answer the following question given the...,correct
1,104,alpaca-7b,natural_questions,who was the great wall of china built to defen...,The Great Wall of China was built to defend ag...,nomads from Inner Asia/nomads from Inner Asia.,Please answer the following question given the...,correct
2,119,alpaca-7b,natural_questions,hazels boyfriend in the fault in our stars,Hazel's boyfriend in The Fault in Our Stars is...,Augustus Waters,Please answer the following question given the...,correct
3,137,alpaca-7b,natural_questions,who is opening for little mix glory days tour,"The Vamps, Conor Maynard, Bronnie, Alistair Gr...","Sheppard, Zoe Badwi, Louisa Johnson, Bronnie, ...",Please answer the following question given the...,incorrect
4,156,alpaca-7b,natural_questions,when was the minimum wage established in the u...,1938.,1938/1933/1912,Please answer the following question given the...,correct

In [22]:
df_copy.loc[df_copy['id'].isin(certain_enumerations)].head()

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
3,137,alpaca-7b,natural_questions,who is opening for little mix glory days tour,"The Vamps, Conor Maynard, Bronnie, Alistair Gr...","Sheppard, Zoe Badwi, Louisa Johnson, Bronnie, ...",Please answer the following question given the...,incorrect
5,200,alpaca-7b,natural_questions,where is simple squamous epithelium found in t...,Simple squamous epithelium is found in many pl...,"alveoli, outer layer of skin, capillaries and ...",Please answer the following question given the...,correct
15,468,alpaca-7b,natural_questions,who are the cast members of ncis new orleans,"The main cast of ""NCIS: New Orleans"" consists ...","Zoe McLellan, Lucas Black, Daryl ""Chill"" Mitch...",Please answer the following question given the...,incorrect
23,738,alpaca-7b,natural_questions,the cast of a good day to die hard,1. Bruce Willis as John McClane 2. Jai Courtne...,"Mary Elizabeth Winstead, Sebastian Koch, Radiv...",Please answer the following question given the...,correct
26,931,alpaca-7b,natural_questions,what kind of animals live in the great victori...,The Great Victoria Desert is home to a variety...,"malleefowl, water-holding frog, great desert s...",Please answer the following question given the...,correct

In [23]:
df_copy[df_copy['id'] == 640]

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
19,640,alpaca-7b,natural_questions,who won the most medals at the 2014 winter oly...,1. Medals won by athletes from the United Stat...,Russia (/Russia,Please answer the following question given the...,incorrect
119,640,flan-t5-xxl,natural_questions,who won the most medals at the 2014 winter oly...,Switzerland,Russia (/Russia,Please answer the following question given the...,incorrect
219,640,gpt-3.5-turbo,natural_questions,who won the most medals at the 2014 winter oly...,The passage does not provide information about...,Russia (/Russia,Please answer the following question given the...,incorrect
319,640,llama-2-7b-chat,natural_questions,who won the most medals at the 2014 winter oly...,"Based on the passage provided, Vreni Schneider...",Russia (/Russia,[INST] <<SYS>>\nPlease answer the following qu...,incorrect

In [24]:
df_copy.loc[df_copy['id'] == 640, 'ground_truth'] = df_copy.loc[df_copy['id'] == 640, 'ground_truth'].apply(lambda x: 'Russia')

In [25]:
df_copy[df_copy['id'] == 640]

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
19,640,alpaca-7b,natural_questions,who won the most medals at the 2014 winter oly...,1. Medals won by athletes from the United Stat...,Russia,Please answer the following question given the...,incorrect
119,640,flan-t5-xxl,natural_questions,who won the most medals at the 2014 winter oly...,Switzerland,Russia,Please answer the following question given the...,incorrect
219,640,gpt-3.5-turbo,natural_questions,who won the most medals at the 2014 winter oly...,The passage does not provide information about...,Russia,Please answer the following question given the...,incorrect
319,640,llama-2-7b-chat,natural_questions,who won the most medals at the 2014 winter oly...,"Based on the passage provided, Vreni Schneider...",Russia,[INST] <<SYS>>\nPlease answer the following qu...,incorrect

In [26]:
df_copy.loc[(df_copy['id'] == 2789) & (df_copy['model_name'] == 'alpaca-7b'), 'human_verdict'] = df_copy.loc[(df_copy['id'] == 2789) & (df_copy['model_name'] == 'alpaca-7b'), 'human_verdict'].apply(lambda x: 'correct')

In [27]:
df_copy[(df_copy['id'] == 2789) & (df_copy['model_name'] == 'alpaca-7b')]

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
69,2789,alpaca-7b,natural_questions,what is the longest english word in the dictio...,1. Pneumonoultramicroscopicsilicovolcanoconios...,Methionylglutaminylarginyltyrosylglutamyl...se...,Please answer the following question given the...,correct

In [28]:
mask = df_copy['id'] == 3121
# mask
df_test = df_copy[~mask]

In [29]:
df_test.loc[df_test['id'] == 1675, 'question'] = df_test.loc[df_test['id'] == 1675, 'question'].apply(lambda x: 'who plays georgia in angus thongs and perfect snogging')

In [30]:
df_test[df_test['id'] ==1675]

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
47,1675,alpaca-7b,natural_questions,who plays georgia in angus thongs and perfect ...,1. Georgia Nicholson 2. Angus 3. Thongs 4. Per...,Georgia Groome as Georgia Nicolson/Georgia Groome,Please answer the following question given the...,correct
147,1675,flan-t5-xxl,natural_questions,who plays georgia in angus thongs and perfect ...,Nicholson,Georgia Groome as Georgia Nicolson/Georgia Groome,Please answer the following question given the...,incorrect
247,1675,gpt-3.5-turbo,natural_questions,who plays georgia in angus thongs and perfect ...,Georgia Nicholson is the lead character in Ang...,Georgia Groome as Georgia Nicolson/Georgia Groome,Please answer the following question given the...,correct
347,1675,llama-2-7b-chat,natural_questions,who plays georgia in angus thongs and perfect ...,Georgia Groome,Georgia Groome as Georgia Nicolson/Georgia Groome,[INST] <<SYS>>\nPlease answer the following qu...,correct

In [31]:
df_test.loc[(df_test['id'] ==1675) & (df_test['model_name'] == 'alpaca-7b'), 'human_verdict'] = 'incorrect'
df_test.loc[(df_test['id'] ==1675) & (df_test['model_name'] == 'flan-t5-xxl'), 'human_verdict'] = 'incorrect'

In [32]:
df_test[df_test['id'] ==1675]

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
47,1675,alpaca-7b,natural_questions,who plays georgia in angus thongs and perfect ...,1. Georgia Nicholson 2. Angus 3. Thongs 4. Per...,Georgia Groome as Georgia Nicolson/Georgia Groome,Please answer the following question given the...,incorrect
147,1675,flan-t5-xxl,natural_questions,who plays georgia in angus thongs and perfect ...,Nicholson,Georgia Groome as Georgia Nicolson/Georgia Groome,Please answer the following question given the...,incorrect
247,1675,gpt-3.5-turbo,natural_questions,who plays georgia in angus thongs and perfect ...,Georgia Nicholson is the lead character in Ang...,Georgia Groome as Georgia Nicolson/Georgia Groome,Please answer the following question given the...,correct
347,1675,llama-2-7b-chat,natural_questions,who plays georgia in angus thongs and perfect ...,Georgia Groome,Georgia Groome as Georgia Nicolson/Georgia Groome,[INST] <<SYS>>\nPlease answer the following qu...,correct

In [ ]:
len(df_test)

In [34]:
df_test[df_test['id'].isin(certain_enumerations)]

,id,model_name,dataset,question,answer,ground_truth,prompt,human_verdict
3,137,alpaca-7b,natural_questions,who is opening for little mix glory days tour,"The Vamps, Conor Maynard, Bronnie, Alistair Gr...","Sheppard, Zoe Badwi, Louisa Johnson, Bronnie, ...",Please answer the following question given the...,incorrect
5,200,alpaca-7b,natural_questions,where is simple squamous epithelium found in t...,Simple squamous epithelium is found in many pl...,"alveoli, outer layer of skin, capillaries and ...",Please answer the following question given the...,correct
15,468,alpaca-7b,natural_questions,who are the cast members of ncis new orleans,"The main cast of ""NCIS: New Orleans"" consists ...","Zoe McLellan, Lucas Black, Daryl ""Chill"" Mitch...",Please answer the following question given the...,incorrect
23,738,alpaca-7b,natural_questions,the cast of a good day to die hard,1. Bruce Willis as John McClane 2. Jai Courtne...,"Mary Elizabeth Winstead, Sebastian Koch, Radiv...",Please answer the following question given the...,correct
26,931,alpaca-7b,natural_questions,what kind of animals live in the great victori...,The Great Victoria Desert is home to a variety...,"malleefowl, water-holding frog, great desert s...",Please answer the following question given the...,correct
45,1652,alpaca-7b,natural_questions,original cast of natasha pierre and the great ...,"The original cast of Natasha, Pierre & The Gre...","Amber Gray, Blake DeLong, Paul Pinto, Shaina T...",Please answer the following question given the...,correct
56,2066,alpaca-7b,natural_questions,i like the way you move video cast,"The video for ""The Way You Move"" features Big ...","Big Boi, Sleepy Brown, Fonzworth Bentley, actr...",Please answer the following question given the...,correct
84,3271,alpaca-7b,natural_questions,what awards did the curious case of benjamin b...,"2008 Academy Awards: Best Actor (Pitt), Best A...","Best Makeup, Best Visual Effects and Best Art ...",Please answer the following question given the...,incorrect
85,3280,alpaca-7b,natural_questions,all of the states in the northeast region,"13 states - Maine, New Hampshire, Vermont, New...","New Hampshire, Maine, Rhode Island, Pennsylvan...",Please answer the following question given the...,incorrect
103,137,flan-t5-xxl,natural_questions,who is opening for little mix glory days tour,"The Vamps, Conor Maynard, Bronnie, Alistair Gr...","Sheppard, Zoe Badwi, Louisa Johnson, Bronnie, ...",Please answer the following question given the...,correct
105,200,flan-t5-xxl,natural_questions,where is simple squamous epithelium found in t...,"capillaries, alveoli, glomeruli, and other tis...","alveoli, outer layer of skin, capillaries and ...",Please answer the following question given the...,correct
115,468,flan-t5-xxl,natural_questions,who are the cast members of ncis new orleans,Vanessa Ferlito,"Zoe McLellan, Lucas Black, Daryl ""Chill"" Mitch...",Please answer the following question given the...,correct
123,738,flan-t5-xxl,natural_questions,the cast of a good day to die hard,Sergei Kolesnikov,"Mary Elizabeth Winstead, Sebastian Koch, Radiv...",Please answer the following question given the...,correct
126,931,flan-t5-xxl,natural_questions,what kind of animals live in the great victori...,Birds include the chestnut-breasted whiteface ...,"malleefowl, water-holding frog, great desert s...",Please answer the following question given the...,correct
145,1652,flan-t5-xxl,natural_questions,original cast of natasha pierre and the great ...,"Malloy as Pierre, Phillipa Soo as Natasha, Luc...","Amber Gray, Blake DeLong, Paul Pinto, Shaina T...",Please answer the following question given the...,correct
156,2066,flan-t5-xxl,natural_questions,i like the way you move video cast,Fonzworth Bentley and another from actress Ki ...,"Big Boi, Sleepy Brown, Fonzworth Bentley, actr...",Please answer the following question given the...,incorrect
184,3271,flan-t5-xxl,natural_questions,what awards did the curious case of benjamin b...,"Best Art Direction, Best Makeup, and Best Visu...","Best Makeup, Best Visual Effects and Best Art ...",Please answer the following question given the...,correct
185,3280,flan-t5-xxl,natural_questions,all of the states in the northeast region,"Maine, New Hampshire, Vermont, New York, Massa...","New Hampshire, Maine, Rhode Island, Pennsylvan...",Please answer the following question given the...,correct
203,137,gpt-3.5-turbo,natural_questions,who is opening for little mix glory days tour,The opening acts for the Little Mix Glory Days...,"Sheppard, Zoe Badwi, Louisa Johnson, Bronnie, ...",Please answer the following question given the...,correct
205,200,gpt-3.5-turbo,natural_questions,where is simple squamous epithelium found in t...,Simple squamous epithelium is found in capilla...,"alveoli, outer layer of skin, capillaries and ...",Please answer the following question given the...,correct
215,468,gpt-3.5-turbo,natural_questions,who are the cast members of ncis new orleans,The cast members of NCIS: New Orleans include ...,"Zoe McLellan, Lucas Black, Daryl ""Chill"" Mitch...",Please answer the following question given the...,incorrect
223,738,gpt-3.5-turbo,natural_questions,the cast of a good day to die hard,The cast of A Good Day to Die Hard includes:\n...,"Mary Elizabeth Winstead, Sebastian Koch, Radiv...",Please answer the following question given the...,correct
226,931,gpt-3.5-turbo,natural_questions,what kind of animals live in the great victori...,Birds such as chestnut-breasted whiteface and ...,"malleefowl, water-holding frog, great desert s...",Please answer the following question given the...,correct
245,1652,gpt-3.5-turbo,natural_questions,original cast of natasha pierre and the great ...,"The original cast of Natasha, Pierre & The Gre...","Amber Gray, Blake DeLong, Paul Pinto, Shaina T...",Please answer the following question given the...,correct
256,2066,gpt-3.5-turbo,natural_questions,i like the way you move video cast,"The video for ""The Way You Move"" features Slee...","Big Boi, Sleepy Brown, Fonzworth Bentley, actr...",Please answer the following question given the...,correct
284,3271,gpt-3.5-turbo,natural_questions,what awards did the curious case of benjamin b...,The Curious Case of Benjamin Button won the aw...,"Best Makeup, Best Visual Effects and Best Art ...",Please answer the following question given the...,correct
285,3280,gpt-3.5-turbo,natural_questions,all of the states in the northeast region,All of the states in the northeast region are ...,"New Hampshire, Maine, Rhode Island, Pennsylvan...",Please answer the following question given the...,correct
303,137,llama-2-7b-chat,natural_questions,who is opening for little mix glory days tour,The opening acts for Little Mix's Glory Days T...,"Sheppard, Zoe Badwi, Louisa Johnson, Bronnie, ...",[INST] <<SYS>>\nPlease answer the following qu...,correct
305,200,llama-2-7b-chat,natural_questions,where is simple squamous epithelium found in t...,Simple squamous epithelium is found in various...,"alveoli, outer layer of skin, capillaries and ...",[INST] <<SYS>>\nPlease answer the following qu...,correct
315,468,llama-2-7b-chat,natural_questions,who are the cast members of ncis new orleans,The cast members of NCIS: New Orleans are:\n1....,"Zoe McLellan, Lucas Black, Daryl ""Chill"" Mitch...",[INST] <<SYS>>\nPlease answer the following qu...,incorrect
323,738,llama-2-7b-chat,natural_questions,the cast of a good day to die hard,The cast of a good day to die hard includes:\n...,"Mary Elizabeth Winstead, Sebastian Koch, Radiv...",[INST] <<SYS>>\nPlease answer the following qu...,correct
326,931,llama-2-7b-chat,natural_questions,what kind of animals live in the great victori...,"Based on the given passage, the following anim...","malleefowl, water-holding frog, great desert s...",[INST] <<SYS>>\nPlease answer the following qu...,correct
345,1652,llama-2-7b-chat,natural_questions,original cast of natasha pierre and the great ...,"Based on the passage provided, the original ca...","Amber Gray, Blake DeLong, Paul Pinto, Shaina T...",[INST] <<SYS>>\nPlease answer the following qu...,correct
356,2066,llama-2-7b-chat,natural_questions,i like the way you move video cast,"The cast of the ""I Like the Way You Move"" musi...","Big Boi, Sleepy Brown, Fonzworth Bentley, actr...",[INST] <<SYS>>\nPlease answer the following qu...,correct
384,3271,llama-2-7b-chat,natural_questions,what awards did the curious case of benjamin b...,The Curious Case of Benjamin Button won three ...,"Best Makeup, Best Visual Effects and Best Art ...",[INST] <<SYS>>\nPlease answer the following qu...,correct
385,3280,llama-2-7b-chat,natural_questions,all of the states in the northeast region,8 states\nThe Northeast Region consisted of th...,"New Hampshire, Maine, Rhode Island, Pennsylvan...",[INST] <<SYS>>\nPlease answer the following qu...,correct

In [35]:
df_test.to_csv('instruct_qa_natural_questions_corrected2.0.csv', index=False)